<a href="https://colab.research.google.com/github/pleabargain/ipynb_notebooks/blob/master/python_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# lists

A Python list has brackets ([ and ]) on either end and commas (,) between each item.

Which of the following is the correct way to create the following list of names: 'Tom', 'Jerry', 'Tweetie', 'Sylvester'?

`names = ['Tom', 'Jerry', 'Tweetie', 'Sylvester']`

In [0]:
#change the interval 3 and note how print(list1_len changes)
interval = 6  #@param {type: "slider", min: 1, max: 20}
outer_range = 64 #@param {type: "slider", min: 1, max: 200}
list1 = range(2, outer_range, interval)
list1_len =len(list1)

print(list(list1))
print(list1_len)

[2, 8, 14, 20, 26, 32, 38, 44, 50, 56, 62]
11

In [0]:
#@title Example form fields
#@markdown Forms support many types of fields.

no_type_checking = ''  #@param
string_type = 'example'  #@param {type: "string"}
slider_value = 142  #@param {type: "slider", min: 100, max: 200}
number = 102  #@param {type: "number"}
date = '2010-11-05'  #@param {type: "date"}
pick_me = "monday"  #@param ['monday', 'tuesday', 'wednesday', 'thursday']
select_or_input = "apples" #@param ["apples", "bananas", "oranges"] {allow-input: true}
#@markdown ---

# LEN

In [0]:
employees = ['Michael', 'Dwight', 'Jim', 'Pam', 'Ryan', 'Andy', 'Robert']

index4 = employees[4]
print ("this is how many employees there are: " + str(len(employees)))
print(index4)

print(employees[6])

this is how many emps there are 7
Ryan
Robert

In [0]:
shopping_list = ['eggs', 'butter', 'milk', 'cucumbers', 'juice', 'cereal']

print(len(shopping_list))
last_element = (shopping_list[-1])
element5 = (shopping_list[5])

print("this is the last elem: "+last_element)
print (element5)

6
this is the last elem: cereal
cereal

return the length of the list mylist?

`len(mylist)`

# slicing lists

In [0]:
suitcase = ['shirt', 'shirt', 'pants', 'pants', 'pajamas', 'books']

beginning = suitcase[0:4]
print(beginning)

middle  = suitcase [2:4]
print(middle)

['shirt', 'shirt', 'pants', 'pants']
['pants', 'pants']

In [0]:
suitcase = ['shirt', 'shirt', 'pants', 'pants', 'pajamas', 'books']

start = suitcase[0:3]
print(start)

end = suitcase[-2:]
print("this will get the last two "+ str(end))

['shirt', 'shirt', 'pants']
this will get the last two ['pajamas', 'books']

Which of the following lines of code would select the letter e from mylist:

```
mylist = ['a', 'b', 'c', 'd', 'e']
```


`mylist[-1]`

Which of the following code selects the last three elements of mylist?


```
mylist[-3:]```

Which of the following lines of code would select the list ['b', 'c'] from mylist: 

`mylist = ['a', 'b', 'c', 'd', 'e']`


`mylist[1:3]`

Which of the following would be generated by the code snippet?



```
mylist = ['a', 'b', 'c', 'd', 'e', 'f']
print(mylist[2:5])
```




```
['c', 'd', 'e']
```

# counting in lists

In [0]:
votes = ['Jake', 'Jake', 'Laurie', 'Laurie', 'Laurie', 'Jake', 'Jake', 'Jake', 'Laurie', 'Cassie', 'Cassie', 'Jake', 'Jake', 'Cassie', 'Laurie', 'Cassie', 'Jake', 'Jake', 'Cassie', 'Laurie']

jake_votes = votes.count('Jake')
print(jake_votes)

9

# sorting lists

In [0]:
### Exercise 1 & 2 ###
addresses = ['221 B Baker St.', '42 Wallaby Way', '12 Grimmauld Place', '742 Evergreen Terrace', '1600 Pennsylvania Ave', '10 Downing St.']

# Sort addresses here:
addresses.sort()
print(addresses)


### Exercise 3 ###
names = ['Ron', 'Hermione', 'Harry', 'Albus', 'Sirius']
names.sort()
print(names)

### Exercise 4 ###
cities = ['London', 'Paris', 'Rome', 'Los Angeles', 'New York']

sorted_cities = cities.sort()
print(sorted_cities)

['10 Downing St.', '12 Grimmauld Place', '1600 Pennsylvania Ave', '221 B Baker St.', '42 Wallaby Way', '742 Evergreen Terrace']
['Albus', 'Harry', 'Hermione', 'Ron', 'Sirius']
None

In [0]:
#this is sorted
games = ['Portal', 'Minecraft', 'Pacman', 'Tetris', 'The Sims', 'Pokemon']

games_sorted = sorted(games)
print(games)
print(games_sorted)

['Portal', 'Minecraft', 'Pacman', 'Tetris', 'The Sims', 'Pokemon']
['Minecraft', 'Pacman', 'Pokemon', 'Portal', 'Tetris', 'The Sims']

In [0]:
inventory = ['twin bed', 'twin bed', 'headboard', 'queen bed', 'king bed', 'dresser', 'dresser', 'table', 'table', 'nightstand', 'nightstand', 'king bed', 'king bed', 'twin bed', 'twin bed', 'sheets', 'sheets', 'pillow', 'pillow']

inventory_len = len(inventory)
print(inventory_len)

first = inventory[0]
print(first)

last = inventory[-1]
print(last)

inventory_2_6 = inventory [2:6]

first_3 = inventory [0:3]

twin_beds = inventory.count('twin bed')
print(twin_beds)

inventory.sort()
inventory_sorted = sorted(inventory)
print(inventory_sorted)

19
twin bed
pillow
4
['dresser', 'dresser', 'headboard', 'king bed', 'king bed', 'king bed', 'nightstand', 'nightstand', 'pillow', 'pillow', 'queen bed', 'sheets', 'sheets', 'table', 'table', 'twin bed', 'twin bed', 'twin bed', 'twin bed']

# zip

In [0]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
dogs_names = ['Elphonse', 'Dr. Doggy DDS', 'Carter', 'Ralph']

names_and_dogs_names =zip(names,dogs_names)

print(list(names_and_dogs_names))

#I've never seen zip() before

[('Jenny', 'Elphonse'), ('Alexus', 'Dr. Doggy DDS'), ('Sam', 'Carter'), ('Grace', 'Ralph')]

# append

We can only add one item at a time using append.

In [0]:
orders = ['daisies', 'periwinkle']
print(list(orders))
orders.append('tulips')
print(list(orders))

orders.append('roses')

print(list(orders))

['daisies', 'periwinkle']
['daisies', 'periwinkle', 'tulips']
['daisies', 'periwinkle', 'tulips', 'roses']

In [0]:
#another way to append
orders = ['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily']

# Create new orders here:

new_orders = orders + ['lilac','iris']
broken_prices = [5, 3, 4, 5, 4] + [4]
print(new_orders)
print(broken_prices)

['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily', 'lilac', 'iris']
[5, 3, 4, 5, 4, 4]

# home on the range

Which of the following would create a range object that starts at 3, goes up to but not including 15 where each number is 4 greater than the previous number?

`range(3, 15, 4)`

What list would be created by this command: list(range(2, 14, 4))?

`[2, 6, 10]`

In [0]:
list1 = range(0,9)
range1 = range(0,8)
#note the difference when you print!
print(range1)
print(list(range1))

range(0, 8)
[0, 1, 2, 3, 4, 5, 6, 7]

In [0]:
list1 = range(5, 15, 2)
print(list(list1))
list2 = range(0, 40, 5)

print(list(list2))

[5, 7, 9, 11, 13]
[0, 5, 10, 15, 20, 25, 30, 35]

# final lesson
not a single function in the batch

In [0]:
first_names = ["Ainsley",
"Ben",
"Chani",
"Depak"]

age =[]
age.append(42)
all_ages = age + [32,41,29] 

name_and_age = zip(first_names,all_ages)

ids=range(0,4)


print(list(first_names))
print(list(age))
print(list(all_ages))
print(list(name_and_age))
print(list(ids))

['Ainsley', 'Ben', 'Chani', 'Depak']
[42]
[42, 32, 41, 29]
[('Ainsley', 42), ('Ben', 32), ('Chani', 41), ('Depak', 29)]
[0, 1, 2, 3]

In [0]:
string1 = "The quick brown"
string2 = "fox jumps over"
string3 = string1+string2
print(string3+" the lazy dog.")

The quick brownfox jumps over the lazy dog.